<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
		body{
			background: linear-gradient(to left, #ccffff 0%, #ffffff 100%);
		}
		.heading{
			background-color: #ffffff;
			opacity:0.6;
			border-color: white;
		}
	</style>
</head>
<body>
	<div class="heading alert alert-dark shadow p-3 mb-5 bg-body rounded">
		<h1>Todo</h1>
	</div>
	<div class="col-lg-4 mx-auto mt-5 shadow p-3 mb-5 bg-body rounded">
       <h1 class=" alert alert-info">Signup Here</h1>
	   {%if error%}
		<div class="alert alert-danger my-4">
			{{error}}
		</div>
	   {%endif%}
		<form method="POST" class="form-group">
			{%csrf_token%}
			<label>Enter Name</label>
			<input type="text" name="name" placeholder="Enter Name" class="form-control">
			<label for="">Enter Email</label>
			<input type="text" name="email" placeholder="Enter Email" class="form-control">
			<label for=""> Enter Password</label>
			<input type="password" name="password" placeholder="*******" class="form-control">
			<div class="row">
				<div class="col-6"><input type="submit" value="Submit" class="btn btn-info mt-3"></div>
				<div class="col-6 mt-3"><a  href="/login" class="btn btn-link" value="">Already user?</a></div>
			</div>
		</form>
	</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>	
</body>
</html>